/* GENERAL */

/* * {
  font-family: arial;
} */

body {
  margin: 0;
  padding: 0;
  background: #F5F5F5;
  height: 100vh;
}

.Header, .NavBar, .Footer, .Forum, .Subforum, .Post, .Profile {
  margin: 0px auto;
  width: 50%;
}

/* WHITE LABEL FORUM COMPONENT */

.white-label-forum {
  text-align: center;
  font-size: 120%;
  padding: 100px 0 10px 0;
}

.white-label-forum h1 {
  margin: 0px;
}

.experience{
  color: #2691d9;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

.experience:hover{
  color: #4e4e4e;
}

/* HEADER COMPONENT */

.Header {
  font-size: 120%;
  text-align: center;
}

.Header h1 {
  padding-bottom: 0px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.HeaderLogo {
  text-decoration: none;
  color: black;
}

/* NAVBAR COMPONENT */

.NavBar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: right;
}

.NavBar ul {
  margin-right: 25px;
  margin-bottom: 0px;
  padding: 0;
  list-style: none;
}

.NavBar li {
  margin-left: 5px;
  padding: 10px;
  font-size: 18px;
  display: inline-block;
}

.NavBar button {
  width: 150%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.NavBar button:hover{
  border-color: #2691d9;
  transition: .5s;
}

/* FOOTER COMPONENT */

.Footer {
  text-align: center;
  background: #f2f2f2 none;
  /* position: fixed; */
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.Footer div {
  padding: 10px;
}

/* FORUMITEM (Subforum), SUBFORUMITEM (Post) COMPONENTS */

.Forum {
  margin-top: 0px;
  padding: 0px;
}

.ForumDirectory {
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ForumItem {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 150px;
  background: #FFFAFA;
  text-align: center;
  margin-top: 5px;
  transition: 0.3s ease;
  transform: translateX(0px);
  cursor: pointer;
}

.ForumItem:hover {
  transform: translateX(10px);
}

.SubforumImage {
  flex: 1 1 30%;
  background-image: linear-gradient(to right, rgba(245, 246, 252, 0.10), #FFFAFA), url(stock-background.jpg);
  background-size: cover;
}

.SubforumText {
  flex: 1 1 50%;
  margin: 25px 0 25px 0;
  text-align: left;
}

.SubforumName {
  text-decoration: none;
  color: black;
}

.SubforumDescription {
  font-size: 16px;
}

.SubforumStats {
  flex: 1 1 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.SubforumStatsContainer {
  min-height: 80%;
  border-left: 1px solid silver;
  display: flex;
  align-items: center;
}

.SubforumTotalPosts {
  margin-left: 20px;
  font-size: 12px;
}

.SubforumHeader {
  background-color: #2691d9;
  display: block;
  width: 100%;
}

.SubforumHeader p {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  height: 10px;
}

.SubforumItem {
  color: #4e4e4e;
  background: #ffffff none;
  background-image: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px;
  min-height: 80px;
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  text-align: left;
}

.PostContent {
  flex: 1 1 50%;
}

.PostContent ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.PostControls {
  flex: 1 1 20%;
}

.PostStats {
  flex: 1 1 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.PostStatsContainer {
  min-height: 80%;
  border-left: 1px solid silver;
}

.PostCreatedBy, .PostCreatedAt {
  margin-left: 20px;
  margin-top: 2px;
  font-size: 12px;
}

.TotalComments {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 12px;
}

.ForumItem li, .PostContent li {
  margin-left: 20px;
  font-size: 18px;
}

.Subforum button {
  min-width: 20%;
  height: 40px;
  margin: 10px 5px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 14px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.Subforum button:hover{
  border-color: #2691d9;
  transition: .5s;
}

.SubforumItem button {
  width: 60px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 10px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.SubforumItem button:hover{
  border-color: #2691d9;
  transition: .5s;
}

.PostName {
  padding: 10px 0;
  font-weight: bold;
}

.PostNameLink {
  text-decoration: none;
  color: black;
}

.PostDescription {
  font-size: 10px;
}

/* POSTITEM (Comment) COMPONENTS */

.Post hr {
  margin: 10px;
}

.Post button {
  width: 20%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 14px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.Post button:hover{
  border-color: #2691d9;
  transition: .5s;
}

.PostItem {
  margin-bottom: 12px;
  display: block;
  width: 100%;
  clear: both;
  position: relative;
    /* float: left; */
}

.PostItem button {
  width: 60px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 10px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.PostItem button:hover{
  border-color: #2691d9;
  transition: .5s;
}

.CommentHeader {
  background: #43A6DF none;
  border: 1px solid #43A6DF;
  clear: both;
  display: block;
  /* float: left; */
  /* width: 100%; */
  color: #ffffff;
  font-size: 14px;
  padding: 5px 0 5px 15px;
}

.OriginalCommentHeader {
  background: #43A6DF none;
  border: 1px solid #43A6DF;
  clear: both;
  display: block;
  /* float: left; */
  /* width: 100%; */
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0 5px 15px;
  border-bottom: 0.5px solid #efefef;
}

.CommentDetails {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 200px;
}

.UserInfo {
  padding-left: 15px;
  background: #f2f2f2 none;
  border-left: 1px solid #efefef;
  flex: 1 1 20%;  
}

.UserUsername {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 15px;
}

.UserAvatar {
  width: 100px;
  height: 100px;
  background-image: url(defaultprofilepicture.jpg);
}

.UserJoinDate {
  text-align: left;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.CommentBody {
  background: #ffffff none;
  border-left: 1px solid #efefef;
  padding-left: 15px;
  flex: 1 1 80%; 
}

.CommentBodyTitle {
  font-weight: bold;
  margin: 10px 0;
}

.CommentBodyDescription {
  margin-top: 15px;
  margin-bottom: 0px;
}

.CommentBody hr {
  margin-left: 0px;
  margin-right: 15px;
}

.CommentFooter {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  font: bold 11px 'Open Sans',sans-serif;
  min-height: 40px;
  border: 1px solid #efefef;
}

.userControls {
  margin-right: auto;
  margin-left: 0;
  width: 22%;
  display: table;
  flex-wrap: nowrap;
  flex-direction: row;
}

.userControls div {
  /* padding-left: 10px; */
  margin-left: 10px;
  margin-right: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.likes {
  margin-right: 0;
  margin-left: auto;
  display: table;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.likes div {
  padding-left: 10px;
  margin-right: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.currentLikes {
  padding-right: 20px;
}

/* PROFILE COMPONENT */

.Profile {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.ProfileUserDetails {
  flex: 1 1 70%;
}

.ProfileUserDetailsNavBar {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.ProfileUserDetailsNavBar div {
  flex: 1 1 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.ProfileUserDetailsNavBarActive {
  background-color:#2691d9;
  color: white;
}

.UserProfileInfo {
  background: #f2f2f2;
  border-right: 1px solid #efefef;
}

.UserProfileUsername {
  padding: 17px 10px;
  margin-bottom: 10px;
  background-color:#2691d9;
  font-size: 20px;
  color: #e9f4fb;
  font-weight: 700;
  border-right: 1px solid white;
  text-align: center;
}

.UserProfileAvatar {
  width: 100px;
  height: 100px;
  margin: 0 30px;
  background-image: url(defaultprofilepicture.jpg);
}

.UserProfileJoinDate {
  text-align: left;
  font-size: 12px;
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.UserProfileTotals {
  text-align: left;
  font-size: 12px;
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.AboutMe {
  padding: 0 40px;
  box-sizing: border-box;
}

.AboutMe .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.AboutMe p {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.AboutMe label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.UsersComments {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.UsersCommentsItem {
  width: 90%;
  height: 80px;
  background: #FFFAFA;
  border: 1px solid #efefef;
  text-align: center;
  margin-top: 5px;
  padding: 10px 0px;
  transition: 0.3s ease;
  transform: translateX(0px);
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.UsersCommentsItem:hover {
  transform: translateX(10px);
}

.UsersCommentsItemContent {
  flex: 1 1 60%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.UsersCommentsItemContent div {
  text-align: left;
  font-size: 16px;
  margin-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.UsersCommentsItemStats {
  flex: 1 1 40%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border-left: 1px solid silver;
  align-items: center;
}

.UsersCommentsItemStats div {
  text-align: left;
  font-size: 12px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

/* CREATE NEW POST/COMMENT COMPONENTS */
/* EDIT POST/COMMENT COMPONENTS */
/* EDIT ABOUT ME COMPONENT */

.CreateNew, .PostCommentEditor, .AboutMeEditor {
  margin: 10px;
}

.CreateNew form,
.PostCommentEditor form,
.AboutMeEditor form {
  padding: 0 40px;
  box-sizing: border-box;
}

.CreateNewSubmit, 
.EditSubmit,
.UpdateProfile {
  display: flex;
  justify-content: center;
}

.CreateNewSubmit button,
.EditSubmit button,
.AboutMeEditor button,
.UpdateProfile button {
    width: 30%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 14px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  
.CreateNewSubmit button:hover,
.EditSubmit button:hover,
.AboutMeEditor button:hover,
.UpdateProfile button:hover {
  border-color: #2691d9;
  transition: .5s;
}

/* LOGIN & SIGNUP COMPONENTS */

.Login, .Signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.Login h1, .Signup h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.Login form, .Signup form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

form button{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

form button:hover{
  border-color: #2691d9;
  transition: .5s;
}

.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.to_signup{
  color: #2691d9;
  text-decoration: none;
}

.to_signup:hover{
  text-decoration: underline;
}

