.App {
  text-align: center;
}

.Header {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.NavBar {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.NavBarLink {
  padding: 5px;
}

.Forum, .Subforum, .Post {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.ForumItem {
  padding: 10px;
  margin: 10px;
  border: 2px solid red;
}

.newThreadButton {
  padding: 5px;
  margin: 10px;
}

.SubforumItem {
  text-align: left;
  padding: 2px 10px;
  margin: 10px;
  border: 2px solid blue;
}

.postUsername {
  font-weight: bold;
}

.postDescription {
  font-size: 10px;
}

.PostItem {
  text-align: left;
  padding: 10px;
  margin: 10px;
  border: 2px solid green;
}

.Login {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  text-align: center;
}

.loginForm {
  padding: 10px;
  margin: 10px;
  border: 2px solid red;
  max-width: 30%;
  display: inline-block;
  text-align: left;
}

.Signup {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  text-align: center;
}

.signupForm {
  padding: 10px;
  margin: 10px;
  border: 2px solid red;
  max-width: 30%;
  display: inline-block;
  text-align: left;
}

.Footer {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.newContent {
  padding: 50px;
  margin: 10px;
  border: 2px solid black;
}
