/* GENERAL */

/* .App {
  text-align: center;
} */

body {
  margin: 0;
  padding: 0;
  background: #F5F5F5;
  height: 100vh;
  /* overflow: hidden; */
}

.white-label-forum {
  text-align: center;
  font-size: 120%;
  padding: 100px 0 10px 0;
}

.white-label-forum h1 {
  margin: 0px;
}

.experience{
  color: #2691d9;
  text-decoration: none;
  margin: 10px;
}

.Header, .NavBar, .Forum, .Subforum, .Post, .Footer {
  padding: 10px;
  margin: 0px auto;
  width: 60%;
}

/* HEADER COMPONENT */

/* NAVBAR COMPONENT */

.NavBarContainer {
  padding: 5px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-left: 5px;
  padding: 10px;
  font-size: 18px;
  display: inline-block;
}

.NavBarContainer button {
  width: 120%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.NavBarLinks button:hover{
  border-color: #2691d9;
  transition: .5s;
}

/* FORUMITEM (Subforum), SUBFORUMITEM (Post) COMPONENTS */

.ForumItem, .SubforumItem {
  color: #4e4e4e;
  background: #ffffff none;
  background-image: none;
  display: block;
  padding: 10px;
  min-height: 60px;
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  text-align: left;
}

.Subforum header {
  background-color: #2691d9;
  display: block;
  width: 100%;
}

.Subforum p {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #e9f4fb;
}

.ForumItem ul, .SubforumItem ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ForumItem li, .SubforumItem li {
  margin-left: 20px;
  font-size: 18px;
}

.Subforum button {
  width: 20%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.Subforum button:hover{
  border-color: #2691d9;
  transition: .5s;
}

.SubforumItem button {
  width: 10%;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 10px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.SubforumItem button:hover{
  border-color: #2691d9;
  transition: .5s;
}

.postName, .subforumName {
  padding-bottom: 10px;
  font-weight: bold;
}

.postDescription, .subforumDescription {
  font-size: 10px;
}

/* POSTITEM (Comment) COMPONENTS */

.Post button {
  width: 20%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 14px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.Post button:hover{
  border-color: #2691d9;
  transition: .5s;
}

.PostItem {
  margin-bottom: 12px;
    display: block;
    width: 100%;
    clear: both;
    position: relative;
    /* float: left; */
}

.PostItem button {
  width: 60px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 10px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.PostItem button:hover{
  border-color: #2691d9;
  transition: .5s;
}

.CommentHeader {
  background: #43A6DF none;
  border: 1px solid #43A6DF;
  clear: both;
  display: block;
  /* float: left; */
  /* width: 100%; */
  color: #ffffff;
  font: normal 14px;
  padding: 5px;
}

.CommentHeader p {
  margin: 0;
}

.CommentDetails {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 200px;
}

.UserInfo {
  padding: 2px 12px 6px;
  background: #f2f2f2 none;
  border-left: 1px solid #efefef;
  flex: 1 1 20%;  
}

.UserInfo p {
  text-align: center;
}

.CommentBody {
  background: #ffffff none;
  border-left: 1px solid #efefef;
  flex: 1 1 80%; 
  padding-left: 10px;
}

.CommentFooter {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  font: bold 11px 'Open Sans',sans-serif;
  border: 1px solid #efefef;
}

.userControls {
  margin-right: auto;
  margin-left: 0;
  width: 22%;
  display: table;
  flex-wrap: nowrap;
  flex-direction: row;
  
}

.userControls div {
  /* padding-left: 10px; */
  margin-left: 10px;
  margin-right: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.likes {
  margin-right: 0;
  margin-left: auto;
  display: table;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.likes div {
  padding-left: 10px;
  margin-right: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.currentLikes {
  padding-right: 20px;
}




.postEditor {
  padding: 10px;
  margin: 10px;
  border: 2px solid blue;
  max-width: 40%;
  text-align: left;
}

.commentEditor {
  padding: 10px;
  margin: 10px;
  border: 2px solid green;
  max-width: 40%;
  text-align: left;
}

/* LOGIN & SIGNUP COMPONENTS */

.Login, .Signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.Login h1, .Signup h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.Login form, .Signup form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

form button{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

form button:hover{
  border-color: #2691d9;
  transition: .5s;
}

.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.to_signup{
  color: #2691d9;
  text-decoration: none;
}

.to_signup:hover{
  text-decoration: underline;
}



.newContent {
  padding: 50px;
  margin: 10px;
  border: 2px solid black;
}
