.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: #F5F5F5;
  height: 100vh;
  /* overflow: hidden; */
}

.Header {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.NavBar {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.NavBarLink {
  padding: 5px;
}

.Forum, .Subforum, .Post {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.ForumItem {
  text-align: left;
  padding: 2px 10px;
  margin: 10px;
  border: 2px solid red;
}

.newPostButton {
  padding: 5px;
  margin: 10px;
}

.SubforumItem {
  text-align: left;
  padding: 2px 10px;
  margin: 10px;
  border: 2px solid blue;
}

.postUsername, .subforumName {
  font-weight: bold;
}

.postDescription, .subforumDescription {
  font-size: 10px;
}

.PostItem {
  text-align: left;
  padding: 10px;
  margin: 10px;
  border: 2px solid green;
}

.postEditor {
  padding: 10px;
  margin: 10px;
  border: 2px solid blue;
  max-width: 40%;
  text-align: left;
}

.commentEditor {
  padding: 10px;
  margin: 10px;
  border: 2px solid green;
  max-width: 40%;
  text-align: left;
}

/* LOGIN & SIGNUP COMPONENTS */

.Login, .Signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.Login h1, .Signup h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.Login form, .Signup form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

form button{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

form button:hover{
  border-color: #2691d9;
  transition: .5s;
}

.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.to_signup{
  color: #2691d9;
  text-decoration: none;
}

.to_signup:hover{
  text-decoration: underline;
}





.Footer {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.newContent {
  padding: 50px;
  margin: 10px;
  border: 2px solid black;
}
